<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
스케줄
<table border=1>
	<tr>
		<th>일</th>
		<th>월</th>
		<th>화</th>
		<th>수</th>
		<th>목</th>
		<th>금</th>
		<th>토</th>
	</tr>
	
	<tr>
		<th:block th:each = "num : ${numbers.sequence(1,42)}">
			<td th:onclick = "lacation.href = 
						'@{/schedule/reservation(nYear = ${nYear}, nMonth = ${nMonth}, nDay = ${num - dayNum + 1})}'">
				<div th:if = "${num lt dayNum}" th:text = ""></div>
				<div th:if = "${num ge dayNum && num lt dayNum + maxDay}"
					 th:text = "${num - dayNum + 1}">
				</div>
				<div th:if = "${num gt dayNum + maxDay }"></div>
			</td>
		<th:blick th:if = "${num % 7 == 0}" th:utext = "'</tr><tr>'" />
		</th:block>
	</tr>
</table>
</body>
</html>